<!doctype html>
<html>
<head>
    <title>Activate your email account</title>
    <script src="/js/jquery-1.12.4.min.js"></script>
</head>
<body>
    <h1>Activate your email account</h1>
    <p>We're sent a confirmation link to <span id="email"><%=email%></span>. It will expire shortly, so check your email soon.</p>
</body>
</html>