<!doctype help>
<html>
<head>
</head>
<body>
	<p>To confirm your email address, just click on the activation button below.</p><p><a href="<%=activationurl%>">Activate your account</a></p>
</body>
</html>
